name: PassiveNFT Bot Pinger

on:
  schedule:
    - cron: "*/14 * * * *"
  workflow_dispatch:

jobs:
  ping-bot:
    runs-on: ubuntu-latest
    
    steps:
    - name: Ping PassiveNFT Bot
      run: |
        echo "Пинг в $(date)"
        curl -s -o /dev/null -w "HTTP Status: %{http_code}" https://passivenft-bot.onrender.com
        echo "Пинг отправлен успешно"
